<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    {% block header %}{% endblock %}
</head>
<body background="/media/background01.gif">
    {#  这是用来控制上方导航栏的  #}
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">海潮之家</a>
                {# 下拉列表的导航窗格，当浏览屏幕变小时出现 #}
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                {#                导航栏主信息#}
                <ul class="nav navbar-nav">
                    {#        通过填补block块使得进入某个页面时处于active状态        #}
                    <li class="{% block nav_index_active %}{% endblock %}"><a href="/">首页</a></li>
                    <li class="{% block nav_blog_active %}{% endblock %}"><a href="/blog">博客</a></li>
                </ul>
                {#                登录注册按钮的显示#}
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li><a href="/login?from={{ request.get_full_path }}">登录</a></li>
                        <li><a href="/register?from={{ request.get_full_path }}">注册</a></li>
                    {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">欢迎你，{{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin">博客修改（仅限管理员）</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="/logout?from={{ request.get_full_path }}">退出</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>

    <!--下面是用来写内容的-->
    {% block content %}{% endblock %}

    <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>