<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    {% block header %}{% endblock %}
</head>

<body background="/media/background.jpg">
{#        导航栏的设置#}
    <div class="navbar-default" role="navigation" style="background-color: #563b42">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: #f18e26">Sites</a>
                {# 下拉列表的导航窗格，当浏览屏幕变小时出现 #}
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse" >
                {#                导航栏主信息#}
                <ul class="nav navbar-nav nav-tabs">
                    {#        通过填补block块使得进入某个页面时处于active状态        #}
                    <li class="{% block nav_index_active %}{% endblock %}"><a href="/" style="color: #f18e26;">首页</a></li>
                    <li class="{% block nav_blog_active %}{% endblock %}"><a href="/blog" style="color: #f18e26;">博客</a></li>
                    <li class="{% block nav_movie_active %}{% endblock %}"><a href="/movie" style="color: #f18e26;">电影推荐</a></li>
                    <li class="{% block nav_jsonmovie_active %}{% endblock %}"><a href="/movie/json" style="color: #f18e26;">Json影评</a></li>
                    <li class="{% block nav_12306_active %}{% endblock %}"><a href="/the12306" style="color: #f18e26;">12306登录</a></li>
                    <li class="{% block nav_about_active %}{% endblock %}"><a href="/" style="color: #f18e26;">关于网站</a></li>
                    <li class="{% block nav_ing_active %}{% endblock %}"><a href="/" style="color: #f18e26;">开发ing</a></li>
                </ul>
                {#                登录注册按钮的显示#}
                <ul class="nav navbar-nav navbar-right nav-tabs">
                    {% if not user.is_authenticated %}
                        <li class="{% block nav_login_active %}{% endblock %}"><a href="/login?from={{ request.get_full_path }}" class="fa fa-power-off" style="color: #f18e26">登录</a></li>
                        <li class="{% block nav_register_active %}{% endblock %}"><a href="/register?from={{ request.get_full_path }}" class="fa fa-user-plus" style="color: #f18e26">注册</a></li>
                    {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="color: #f18e26">欢迎你，{{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin" style="color: #f18e26">后台管理（仅限管理员）</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="/logout?from={{ request.get_full_path }}" style="color: #f18e26">退出</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/global_js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- 这是用来放js文件的 -->
    {% block bottom %}{% endblock %}

    <a id="toTop" href="#" class="scrolltop activetop" title="Go to Top" style="display: block;">
        <i class="fa fa-angle-double-up"></i>
    </a>

    <!--下面是用来写内容的-->
    {% block content %}{% endblock %}

</body>
</html>