{% extends "base.html" %}

{% block title %}博客页{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            {#      博客总列表左边区域占8列      #}
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">博客列表</div>
                    <div class="panel-body">
                        {% for blog in blogs.object_list %}
                            <h3><a href="{{ blog.id }}">{{ blog.title }}</a></h3>
                            <p>
                                <span class="glyphicon glyphicon-tag"></span><a href="type/{{ blog.blog_type_id }}">{{ blog.blog_type }}</a>
                                &nbsp;<span class="glyphicon glyphicon-time"></span>{{ blog.create_time }}
                            </p>
                            {# 显示内容的一部分并通过safe使其显示后台编辑内容的真实排版，去除标签的显示 #}
                            {{ blog.short_content |safe }}
                            <hr>
                        {% endfor %}

                        {#  分页的控制  #}
                        <div style="text-align: center">
                          <ul class="pagination">
                            <li>
                                {% if blogs.has_previous %}
                                    <a href="?page={{ blogs.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% endif %}
                            </li>
                            {% for page_num in blogs.paginator.page_range %}
                                {% if page_num == blogs.number %}
                                    <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li>
                                {% if blogs.has_next %}
                                    <a href="?page={{ blogs.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% endif %}
                            </li>
                          </ul>
                        <p>一共有{{ blogs.paginator.count }}篇文章，当前第{{ blogs.number }}页，共{{ blogs.paginator.num_pages }}页</p>
                        </div>
                    </div>
                </div>
            </div>

            {#   博客分类右边区域占4列   #}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        {% for type in blogtype %}
                            <li><a href="type/{{ type.id }}">{{ type.type_name }}</a>（{{ type.type_count }}）</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

