{% extends "base.html" %}

{% block title %}{{ data.type_name }}{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel panel-heading">{{ data.type_name }}（一共有{{ blog.count }}篇文章）<br></div>
                    <div class="panel panel-body">
                        {% for i in blog.all %}
                            <h2><a href="../{{ i.id }}">{{ i.title }}</a></h2>
                            作者：{{ i.author }}<br>
                            发表日期：{{ i.create_time }}<br>
                            内容：{{ i.content }}<br>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel panel-heading">博客分类</div>
                    <div class="panel panel-body">
                        <a href="..">回到上一层</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
